* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  width: 100%;
  background-color: #f9f9f9;
}

img {
  width: 24px;
  height: 24px;
}


.container {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  height: 100vh;
  display: grid;

  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr auto;
}


.header {
  grid-column: 1 / 3;
  /* grid-column-start: 1;
  grid-column-end: 3; */
  padding: 10px 16px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu,
.config {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icone-menu {
  width: 24px;
  height: 24px;
}

.menu .ytb {
  width: 90px;
  height: 20px;
  object-fit: contain;
}

.pesquisa {
  display: flex;
  align-items: center;
  width: 40%;
  max-width: 600px;
  height: 40px;
  border: 1px solid #cccccc;
  background-color: white;
  justify-content: flex-end;
}

.caixa-lupa {
  height: 100%;
}

.lupa {
  width: 57px;
  height: 100%;
  border-left: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  cursor: pointer;
}

.lupa img {
  background: transparent;
}

.config {
  display: flex;
  align-items: center;
  gap: 20px;
  width: auto;
}

.config img {
  width: 24px;
  height: 24px;
}
/* navegação */
.nav-item {
  grid-column: 1 / 2;
}

.menu-lateral {
  display: flex;
  gap: 22px;
  flex-direction: column;
  padding: 5px;
}

.menu-lateral .icone-menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
}

/* conteudo */
.container-video {

  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  align-content: start;
}

.video-conteudo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.video-conteudo img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titulo {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.descricao {
  font-size: 12px;
  color: #606060;
}

.item-04 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}